/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}

body {
  background-color: #eee;
}

.home-app {
  max-width: 800px;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.home-container {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.home-container-pages {
  display: flex;
  justify-content: space-around;
}

.home-container h1 {
  margin-bottom: 2rem;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #a1a1a1;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.home-container-pages:hover .overlay {
  bottom: 0;
  height: 100%;
}

.snackbar {
  min-width: 250px;
  margin-left: -125px;
  background-color: #4b4b4b;
  color: #eee;
  text-align: center;
  border-radius: 2px;
  padding: 8px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

nav {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #676767, #9c9c9c);
  padding: 0 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

nav h1 {
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
}

.nav-page {
  margin: 0 0.5rem;
}

.nav-page:hover {
  border: 1px solid #ffffff;
}

button {
  appearance: none;
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
  padding: 0.4rem 0.6rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  transition: 0.3s;
  background-color: #ffffff;
}

button:hover {
  opacity: 1;
}

/* recipes */
.app-recipes {
  max-width: 800px;
  margin: auto;
}

.recipe {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.add {
  margin: 1rem auto;
  display: block;
  color: #00905b;
}

.submit {
  color: #00905b;
}

.view {
  color: #2f75d1;
}

.edit {
  color: #d07c2e;
}

.delete {
  color: #db3052;
}

.buttons-recipes {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-left: -0.5rem;
}

.buttons-recipes button {
  margin: 0 0.3rem;
}

.app-recipes label {
  display: block;
  margin-top: 1rem;
  text-decoration: underline;
}

.app-recipes ol,
.app-recipes ul {
  list-style: none;
  display: block;
}

.app-recipes li {
  line-height: 1.5;
  margin: 0.3rem 0;

}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  text-align: left;
}

.popup-inner {
  background-color: #eee;
  padding: 1rem;
  width: 100%;
  max-width: 480px;
  overflow: auto;
  max-height: calc(100vh - 4rem);
}

.popup h2 {
  margin-bottom: 1rem;
  color: #676767;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group:last-of-type {
  margin-bottom: 0;
}

.app-recipes input,
.app-recipes textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  resize: vertical;
  max-height: 200px;
  margin-bottom: 0.5rem;
}

.app-recipes input.inputfile {
  resize: none;
  padding-left: 0;
}

.form-group label {
  display: block;
  margin-bottom: 0.2rem;
  text-decoration: underline;
}

.app-recipes .updated p {
  font-weight: normal;
  font-size: 14px;
  display: block;
  margin-top: 0.5rem;
}

img {
  max-width: 200px;
  height: auto;
}

/* expenses */
.app-expenses {
  max-width: 400px;
  margin: 0 auto;
}

.title-page {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  text-decoration: underline;
}

.expenses-inputs {
  display: flex;
  justify-content: center;
}

.expenses-buttons {
  display: flex;
  justify-content: center;
}

.clear {
  background-color: #717171;
  margin-left: 0.3rem;
}

.app-expenses input,
.app-expenses textarea {
  padding: 0.5rem;
  resize: vertical;
  max-height: 200px;
  margin: 0 0.5rem 0.5rem 0;
}

.total-amount {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.app-expenses ol,
.app-expenses ul {
  list-style: none;
  display: block;
}

.expense-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #676767;
  height: 50px;
}

li:first-child .expense-line {
  border-top: 2px solid #676767;
}

.expenses-buttons {
  margin-bottom: 2rem;
}

.expense-buttons button {
  margin-left: 0.25rem
}

.span-amount {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid black;
  padding: 0.25rem;
  margin-right: 0.5rem;
}